.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.7rem;
}



.gank-logo{
    @apply inline-flex h-10 w-auto mr-2 md:mr-16 2xl:h-[60px] 2xl:w-auto;

}

.menu-link{
    @apply flex items-center lg:hidden;
}