.user-profile-info {
    @apply hidden mt-4 pb-0 px-4 relative;
    .user-profile-info__wrapper {
        @apply flex pb-4 flex-col  w-full rounded;
        @screen md {
            @apply flex-row;
        }
    }
    @screen sm {
        @apply flex justify-center;
    }

    @screen xl {
        @apply px-0;
    }
}

.banner-cover {
    background: red;
    @apply mx-auto;
    max-height: 275px;
}

.profile-tab {
    display: flex;
    flex-direction: row;
    transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: margin-left;
    font-size: 1.25rem !important;
    margin-left: 0 !important;
    font-weight: 500 !important;
}

.tablist {
    border-style: solid !important;
    border-bottom: 1px solid rgba(147, 126, 126, 0.45098039215686275) !important;
    button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        margin: 0 32px 0 0;
        padding: 12px 16px;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        border: none;
        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            border: unset;
            outline: none;
        }
    }
    button[data-headlessui-state="selected"] {
        color: #ed5c5e !important;
        border-bottom: 1px solid #ed5c5e !important;
        margin-bottom: -1px;
        z-index: 2;
    }
}
